@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  padding: 16px 40px;
  border-bottom: 1px solid #292929;
  background: #101010;
}
@media (max-width: 1200px) {
  .header {
    display: none;
  }
}

.logo {
  display: flex;
  gap: 12px;
}

.nav {
  display: flex;
  gap: 70px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 28px;
}
.menu__link {
  font-size: 18px;
  font-weight: 400;
}

.account {
  display: flex;
  gap: 28px;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 767px) {
  .account {
    gap: 20px;
  }
}
.account__notification {
  position: relative;
}
.account__notificationDot {
  position: absolute;
  top: -1px;
  left: 12px;
}
.account__inner {
  display: flex;
  align-items: center;
  gap: 16px;
}
.account__profilePicture {
  width: 40px;
  height: 40px;
}
@media (max-width: 1200px) {
  .account__profilePicture {
    margin-right: -30px;
  }
}
@media (max-width: 767px) {
  .account__profilePicture {
    margin-right: -30px;
  }
}
.account__profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.account__userName {
  font-weight: 500;
  line-height: 20px;
}
.account__userLicenseId {
  color: #969FA3;
  font-size: 13px;
}

.headerSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  color: #B6B6B6;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #101010;
  border: none;
  cursor: pointer;
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 115% 50%;
  outline: none;
}
.headerSelect::-ms-expand {
  display: none;
}

.headerMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  border-bottom: 1px solid #242424;
  background: #101010;
  padding: 19px 48px;
  z-index: 999;
  display: none;
}
@media (max-width: 767px) {
  .headerMobile {
    height: 77px;
    padding: 19px 24px;
  }
}
.headerMobile__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .headerMobile {
    display: block;
  }
}
.headerMobile__logo {
  display: flex;
  gap: 12px;
}
@media (max-width: 767px) {
  .headerMobile__logo {
    gap: 8px;
  }
}
.headerMobile__firstImg {
  width: 28px;
}
@media (max-width: 767px) {
  .headerMobile__firstImg {
    width: 18px;
  }
}
.headerMobile__secondImg {
  width: 164px;
}
@media (max-width: 767px) {
  .headerMobile__secondImg {
    width: 108px;
  }
}

.sidebar {
  position: fixed;
  top: 92px;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 272px;
  padding-top: 80px;
  border-right: 1px solid #292929;
  background: #101010;
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
.sidebar__link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 40px;
  font-size: 18px;
}
.sidebar__link_active {
  color: #66f;
}
.sidebar__link_margin {
  margin-top: 108px;
}
.sidebar__icon {
  fill: #fff;
}
.sidebar__icon_active {
  fill: #66f;
  stroke: #66f;
}

.sidebarMobile {
  display: none;
}
@media (max-width: 1200px) {
  .sidebarMobile {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #101010;
    padding: 0 48px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 999;
  }
  .sidebarMobile__icon {
    fill: #fff;
  }
  .sidebarMobile__icon_active {
    fill: #66f;
    stroke: #66f;
  }
}
@media (max-width: 767px) {
  .sidebarMobile {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #101010;
    padding: 0 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 999;
  }
  .sidebarMobile__icon {
    fill: #fff;
  }
  .sidebarMobile__icon_active {
    fill: #66f;
  }
}

.chat {
  margin: 124px 32px 32px 305px;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-template-rows: 92px 776px;
}
@media (max-width: 1200px) {
  .chat {
    margin: 102px 48px 66px;
    grid-template-columns: 1fr;
    grid-template-rows: 92 1fr;
  }
}
@media (max-width: 767px) {
  .chat {
    margin: 77px 0 56px;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 1fr;
  }
}
.chat__leftCol {
  display: flex;
  align-items: center;
  padding: 24px 20px;
  font-size: 24px;
  font-weight: 600;
  border-right: 1px solid #292929;
  border-bottom: 1px solid #292929;
  background: #101010;
  border-top-left-radius: 20px;
}
@media (max-width: 1200px) {
  .chat__leftCol {
    border-top-right-radius: 20px;
    border-right: 0;
  }
}
@media (max-width: 767px) {
  .chat__leftCol {
    border-radius: 0;
    padding: 20px 16px;
    font-size: 20px;
  }
}
.chat__rightCol {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #292929;
  background: #101010;
  border-top-right-radius: 20px;
}
@media (max-width: 1200px) {
  .chat__rightCol {
    display: none;
  }
}
.chat__user {
  display: flex;
  gap: 16px;
  align-items: center;
}
.chat__profilePicture {
  width: 60px;
  height: 60px;
}
.chat__profilePicture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.chat__userName {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.chat__status {
  color: #969FA3;
  line-height: 24px;
  width: 100%;
  max-width: 252px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .chat__status {
    max-width: 478px;
  }
}
@media (max-width: 767px) {
  .chat__status {
    max-width: 228px;
  }
}
.chat__status_purple-cl {
  color: #66f;
}
.chat__KebabMenu {
  cursor: pointer;
}
.chat__chats {
  border-bottom-left-radius: 20px;
  border-right: 1px solid #292929;
  background: #101010;
  overflow-y: scroll;
}
.chat__chats::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .chat__chats {
    border-bottom-right-radius: 20px;
    border: none;
  }
}
@media (max-width: 767px) {
  .chat__chats {
    border-radius: 0;
    overflow-y: hidden;
  }
}
.chat__chatRoom {
  border-bottom-right-radius: 20px;
  background: #101010;
}
@media (max-width: 1200px) {
  .chat__chatRoom {
    display: none;
  }
}
.chat__userRow {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
}
@media (max-width: 767px) {
  .chat__userRow {
    gap: 13px;
    padding: 13px 16px;
  }
}
.chat__userProfilePicture {
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  .chat__userProfilePicture {
    width: 50px;
    height: 50px;
  }
}
.chat__userProfilePicture img {
  width: 100%;
  border-radius: 50%;
}
.chat__userInfoCol {
  width: 100%;
}
.chat__userNameRow {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.chat__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.chat__time {
  color: #969FA3;
  font-size: 14px;
}
.chat__statusRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat__notification {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #66F;
}
@media (max-width: 767px) {
  .chat__notification {
    gap: 6px;
    font-size: 11px;
    width: 16px;
    height: 16px;
  }
}
.chat__chatRoom {
  padding: 48px 20px 20px;
  position: relative;
  overflow-y: scroll;
}
.chat__chatRoom::-webkit-scrollbar {
  display: none;
}
.chat__date {
  color: #575757;
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
.chat__messageWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.chat__messageContainer {
  display: flex;
  gap: 12px;
  align-items: end;
}
.chat__messageContainer_sent {
  justify-content: end;
}
.chat__messageInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 20px 20px 20px 0px;
  background: #181818;
  width: 65%;
}
.chat__messageInner_sent {
  border-radius: 20px 20px 0px 20px;
}
.chat__messageText {
  color: #969FA3;
  font-size: 18px;
  line-height: 28px;
}
.chat__messageDeliveryTime {
  color: #575757;
  text-align: right;
  font-size: 14px;
}

.form {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  background: #101010;
  padding-top: 5px;
  padding-bottom: 20px;
  position: sticky;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
}

.textbox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid #292929;
  background: #101010;
  flex-grow: 1;
}
.textbox input {
  color: #969FA3;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background: #101010;
  border: none;
  width: 100%;
}
.textbox input:focus {
  outline: none;
}

.submitBtn {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background: #66F;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
}/*# sourceMappingURL=style3.css.map */